*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#container{
   margin: auto;
}
#canvas1 {
background:black;
width: 600px;
height: 480px;
}