{%extends 'base.html'%}
{%block content%}
{%load static %}
<!--Used to load scripts -->
<link rel="stylesheet" href="{%static 'Styles/AnimationStudioStyle.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"></script>

<!-- Button trigger modal -->
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Load Animation</button>
<form action="." method="POST" id="saveForm" onsubmit="refresh()"> {%csrf_token%}
    {{Saveform.as_p}}
    <!--Hidden Form-->
    <button onclick="saveData()">Save and Close</button>
</form>




<br>
<div id="canvasBg"></div>
<div id="carousel"></div>
<script src="{%static 'Scripts/sketch.js'%}"></script>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{Username}}'s Saves</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <ul>
                    {%for animationList in userAnimationList%}
                    <input type="radio" id="{{animationList.id}}" name="animationList" onclick="loadData(this.id)" data-bs-dismiss="modal"/>
                    <label for="{{animationList.id}}">{{animationList.Title}}</label>
                    <br>
                    {%endfor%}
                    <ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



{%endblock%}

{%block username%}{{Username}}{%endblock%}