{% extends 'base.html' %}
{%block content%}
    {%load static %} 
    <link rel="stylesheet" href="{%static 'Styles/homeStyle.css' %}">

    <div class="box">
        <h1 class="center-text">Welcome Back {{Username}}</h1>
        <h1 class="center-text">Ready to get flipping?</h1>
    </div>

    <br>
    <div class="box">
        <h1 class="center-text">Featured Animations for March</h1>
    </div>
    
{%endblock%}


{%block username%}
    {%if Username != "Guest"%}
    Welcome Back {{Username}}
    {%endif%}
{%endblock%}